<div class="container">
  <div class="row">
    <div class="col-md-3">
       <%= render 'homes/genre', name: @genres %>
    </div>
    <div class="col-md-6">
      <senter>
        <h1><strong>
          ようこそ、ながのCAKE へ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </strong></h1>
      </senter>
    </div>
  </div>
  <div class="row">
    <%= @items.each do |item| %>
    <div class="col-md-offset-3 col-md-8">
      <h2><strong>新着商品</strong></h2>
      <tr>
        <th><%= attachment_image_tag @item, :image %></th>
        <th><%= item.name %></th>
        <td>¥<%= item.price %></td>
      </tr>
      <%= link_to "全ての商品を見る" customer_session_path %>
    </div>
  </div>
</div>