<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
       <%= render 'customers/homes/genre', genres: @genres %>
    </div>
    <div class="col-md-6">
      <center>
        <h1><strong>
          ようこそ、ながのCAKE へ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </strong></h1>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <h2><strong>新着商品</strong></h2>
  </div>
  <div class="row">
    <%= @items.each do |item| %>
    <div class="col-lg-3 col-md-6 mb-3">
      <table>
        <tr>
          <th><%= attachment_image_tag item, :image, format: 'jpeg', size: "150x150" %></th>
        </tr>
        <tr>
          <td><%= item.name %></td>
        </tr>
        <tr>
          <td>¥<%= item.price %></td>
        </tr>
        </tr>
      </table>
    </div>
    <% end %>
    <%= link_to "全ての商品を見る", customer_session_path %>
  </div>
</div>