<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <h1><strong>商品一覧</strong></h1>
    </div>
    <div class="col-md-offset-4 col-md-2">
      <%= link_to "", new_admin_item_path, class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <table>
        <thead>
          <% @items.each do |item| %>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= item.id %></th>
            <td><%= link_to item.name, admin_item_path(item)%></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active %>
              販売中
              <% else %>
              販売停止
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
        <tfooter>
          <%= paginate @item %>
        </tfooter>
      </table>
    </div>
  </div>
</div>