  <p id="notice"></p>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h1><strong>商品一覧</strong></h1>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-1">
      <%= link_to "+", new_admin_item_path, class: "btn btn-primary rounded-circle p-0", style: "width:2rem;height:2rem;" %>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <th><%= item.id %></th>
            <td><%= link_to item.name, admin_item_path(item), class: "btn btn-link" %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active %>
              販売中
              <% else %>
              販売停止
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <center>
    <%= paginate @items, class: "btn btn-link" %>
  </center>
</div>