<h1><strong>配送先登録/一覧</strong></h1>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= form_with model: @shipping_address, local:true do |f| %>
      <div class="label">
        <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
        <%= f.text_field :postal_code %>
      </div>
      <div class="label">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address %>
      </div>
      <div class="label">
        <%= f.label :name, "宛名" %>
        <%= f.text_field :name %>
        <%= f.submit"新規登録" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table>
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <% @shipping_addresses.each do |address| %>
        <tbody>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= link_to "編集する", edit_shipping_address_path(address)%><%= link_to "削除する", shipping_address_path(address), method: :delete %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>