<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <h1><strong>注文情報入力</strong></h1>
    </div>
  </div>
</div>
<h1>支払方法</h1>
<%= form_with model: @address, local:true do |f| %>
  <%= f.radio_button :payment_method, 0, checked: true %>クレジットカード
  <%= f.radio_button :payment_method, 1 %>銀行振り込み

<h2><strong>お届け先</strong></h2>
<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>

<div class="label">
  <%= f.label :post_code, "郵便番号（ハイフンなし）" %>
  <%= f.text_field :post_code %>
</div>

<div class="label">
  <%= f.label :address, "住所"  %>
  <%= f.text_field :address %>
</div>

<div class="label">
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %>
</div>

<%= f.submit "確認画面へ進む" %>

<% end %>