
<h4><strong>注文情報確認</strong></h4>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <table border="1">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= attachment_image_tag @item, :image %><%= cart_item.item.name %></td>
          <td><%= cart_item.add_tax_item_price.to_s(:delimited) %></td>
          <td><%= cart_item.amount %></td>
          <td><%= (cart_item.add_tax_item_price * cart_item.amount).to_s(:delimited) %></td>
        <% end %>
        </tr>
      </table>
    </div>
      <div class="col-md-4">
        <table border="1">
          <tr>
            <td>送料</td>
            <th><%= @order.postage %></th>
          </tr>
          <tr>
            <td>商品合計</td>
            <th>¥<%= @total.round.to_s(:delimited) %></th>
          </tr>
          <tr>
            <td>請求金額</td>
            <th>¥<%= @order.total_payment %></th>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <table>
          <tr>
            <th>支払方法</th>
            <td>
              <% if @order.payment_method %>
              クレジットカード
              <% else %>
              銀行振込
              <% end %>
            </td>
          </tr>
          <tr>
            <th>お届け先</th>
            <td>
              〒<%= @order.shipping_postal_code %>
              <%= @order.shipping_address %>
              <%= @order.shipping_address_name %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <center>
      <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
        <%= f.hidden_field :shipping_postal_code, value: @order.shipping_postal_code %>
        <%= f.hidden_field :shipping_address, value: @order.shipping_address %>
        <%= f.hidden_field :shipping_address_name, value: @order.shipping_address_name %>
        <%= f.hidden_field :payment_method, value: @order.payment_method %>
        <%= f.hidden_field :postage, value: @order.postage %>
        <%= f.hidden_field :total_payment, value: @order.total_payment %>
      <%= f.submit "注文を確定", class: "btn btn-success" %>
      <% end %>
    </center>
  </div>
</div>