<h4><strong>注文履歴詳細</strong></h4>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table>
        <tr>
          <th>購入者</th>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><%= @order.shipping_address %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td>
            <% if @order.payment_method %>
            クレジットカード
            <% else %>
            銀行振込
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-8">
      <table>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.add_tax_sales_price.to_s(:dalimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.amount * order_detail.add_tax_sales_price %></td>
            <td><%=%></td>
          </tr>
          <% end %>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <th></th>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%= @total.round.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th>請求合計金額</th>
          <td><%= @order.total_payment %></td>
        </tr>
      </table>
    </div>
  </div>
</div>