<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-3">
      <h1><strong>ジャンル一覧・追加</strong></h1>
    </div>
  </div>
  <%= form_with model:@genre,url: admins_genres_path, local:true do |f| %>
  <div class="row">
    <div class="col-md-6">
      <table>
        <thead>
          <tr>
            <th>ジャンル名</th>
            <td><%= f.text_field :genre %></td>
            <td><%= f.submit "新規登録" %></td>
          </tr>
        </thead>
      </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <% @genres.each do |genre| %>
      <table>
        <thead>
          <tr>
            <th>ジャンル名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= genre.name %></th>
            <td><%= link_to "編集する", edit_admins_genre_path %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>