<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <h1><strong><%= @customer.full_name %>さんの会員情報編集</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-8">
      <%= from_with model:@customer, local ture do |f| %>
      <div class="table">
        <tr>
          <th>会員ID</th>
          <td><%= f.name %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= f.text_field :first_name %><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= f.text_field :first_name_kanat %><%= f.text_field :last_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :emaill %></td>
        </tr>
        <%= f.submit "変更を保存" %>
      </div>
    </div>
  </div>
</div>