<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-1">
      <h1><strong>商品一覧</strong></h1>
    </div>
    <div class="col-md-offset-8 col-md-1">
      <%= link_to "", new_admins_item_path, class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="table">
        <thead>
          <% @items.each do |item| %>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= item.id %></th>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
          </tr>
          <% end %>
        </tbody>
        <tfooter>
          <%= paginate @item %>
        </tfooter>
      </div>
    </div>
  </div>
</div>