<div class="container">
  <div class="row">
    <div class="col-md-3">
       <%= render 'customers/homes/genre', genres: @genres %>
    </div>
    <%= @items.each do |item| %>
    <div class="col-md-8">
      <h1><strong>商品一覧</strong></h1>
      <tr>
        <th><%= attachment_image_tag item, :image %></th>
      </tr>
      <tr>
        <th><%= link_to item.name, item_path(item) %></th>
      </tr>
      <tr>
        <th>¥<%= item.price %></th>
      </tr>
      <% paginate @items %>
    </div>
    <% end %>
  </div>
</div>